[Unit]
Description=Flask Service
After=network.target

[Service]
User=authz
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/authz/git/
ExecStart=/bin/bash -c "docker-compose up -d"

[Install]
WantedBy=multi-user.target
